 .u-section-1 {
  background-image: url("images/Aregnet_Mascot_v5_900X900.png");
  min-height: 1348px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 89px calc(((100% - 1140px) / 2) + -18px) 0 calc(((100% - 1140px) / 2) + 501px);
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 501px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 465px;
  grid-gap: 22px 22px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/LABIGOUDEN.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  margin: 337px auto 0;
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/MATERRAZZA2.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  margin: 337px auto 0;
  padding: 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/CAFECOSI.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  margin: 337px auto 0;
  padding: 0;
}

.u-section-1 .u-image-4 {
  background-image: url("images/ELPINXTO.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  margin: 337px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1286px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 457px);
    margin-right: 67px;
    --animation-custom_in-translate_x: 0px;
    transition-duration: 0.5s;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 16.5px));
    min-height: 383px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-btn-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-btn-3 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-btn-4 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1143px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 350px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 1173px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 263px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 548px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 896px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 166px);
    font-size: 1.5rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}