body{
	padding: 0;
	margin: 0;
}
body,h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", sans-serif
}
.w3-bar,h1,button {
	font-family: "Montserrat", sans-serif
}
.fa-window-maximize,.fa-laptop-code{
	font-size:200px
}
header{
	background-color: #d6bcab;
}
#bande{
	background-color: #d6bcab;
}/*bande ce couleur de la navbar*/
#case{
	background-color: #d6bcab;
}/*case a l'intérieur de la navbar*/ 
#windows{
	color: #d6bcab;
}/*premiere image*/
#ordinateur{
	color: #d6bcab
}/*deuxieme image*/
#retour_acceuil{
	padding: 30px 30px 30px;
	margin: 30px 40px;
	float: left;
	
}
